<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}} - {{site.name}}</title>
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="{{ "/css/default.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/github.css" | prepend: site.baseurl }}">
    <script>document.write('<script src="http://' + (location.host || '${1:localhost}').split(':')[0] + ':${2:35729}/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body>
	{{content}}

	{% include footer_menu.html %}
</body>
</html>