<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{page.title}} - {{site.name}}</title>
  <link rel="stylesheet" type="text/css" href="{{ "/css/default.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/github.css" | prepend: site.baseurl }}">

</head>
<body>
  <div class="contaqiner">
      <div id="markup">
        <article id="content" class="markdown-body">
          {{content}}
        </article>
      </div>
    </div>
    {% include footer_menu.html %}
</body>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
          processEscapes: true
        },
        TeX: {
          equationNumbers: {
            autoNumber: 'AMS'
          }
        },
        'HTML-CSS': {
          imageFont: null
        }
      });
  </script>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</html>